/* 0892A5 - blue-green
06908F - green
0CA4A5 - teal
 395E66 - dark teal
  FCFFFA - near #FCFFFA*/

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
    background: #395e66;
}

body, * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'News Cycle', sans-serif;
}

.logo {
    font-family: 'Courgette', cursive;
    position: absolute;
    top: 25px;
    left: 0px;
    color: orange;
    font-size: 30pt;
    height: 100px;
    padding: 0 0 0 25px;
    width: 100%;
    text-align: left;
    text-shadow: 2px 2px #395E66;
    z-index: 3;
    cursor: pointer;
}

.gameroomName {
    font-family: 'Courgette', cursive;
    position: absolute;
    top: 75px;
    left: 0px;
    color: orange;
    font-size: 15pt;
    height: 100px;
    padding: 0 0 0 25px;
    width: 100%;
    text-align: left;
    text-shadow: 2px 2px #395E66;
    z-index: 3;
}

.App {
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: #0CA4A5;
}

.hidden {
    display: none;
}

.modal form {
    width: 100%;
}

.submitAlias {
    padding: 0px 20px;
    /* height: 100%; */
    margin: auto;
    /* line-height: 0; */
    background-color: orange;
    border: none;
    border-radius: 5px;
    font-size: x-large;
    cursor: pointer;
}

.alias {
    width: 45%;
    padding: 0 0 0 15px;
    /*height: 10px;*/
    background-color: #395E66;
    border: none;
    border-radius: 5px;
    color: #FCFFFA;
    margin-right: 5px;
    font-size: x-large;
}

.alias::-webkit-input-placeholder {
    color: #FCFFFA !important;
}

.alias:-moz-placeholder { /* Firefox 18- */
    color: #FCFFFA !important;
}

.alias::-moz-placeholder { /* Firefox 19+ */
    color: #FCFFFA !important;
}

.alias:-ms-input-placeholder {
    color: #FCFFFA !important;
}

.help {
    width: 45%;
    font-size: small;
    padding: 15px;
    color: white;
    margin: 0 auto;
}

.round {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 25px;
    font-size: x-large;
    color: #FCFFFA;
}

.timer {
    font-size: x-large;
    font-weight: bolder;
    position: absolute;
    text-shadow: 2px 2px #395e66;
    top: 0;
    right: 0;
    padding: 50px 25px;
    color: orange;
}

.centerContent {
    width: 100%;
    height: 400px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    position: absolute;
    justify-content: space-between;
    top: 125px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.imageViewer {
    height: 400px;
    width: 10000px;
    max-width: 45%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 5px 5px 15px 0px black;
    box-shadow: 5px 5px 15px 0px black;
    background-color: #0CA4A5;
    border-radius: 0px 15px 15px 0px;
    border: 5px solid #0CA4A5;
}

.scoreboard {
    height: 400px;
    width: 10000px;
    max-width: 20%;
    background: #0CA4A5;
    box-shadow: 5px 5px 15px 0px black;
    border-radius: 15px 0px 0px 15px;
    overflow-y: scroll;
    padding: 0px 0px 20px 0px;
}

.scoreboard li {
    font-size: large;
    display: flex;
    align-content: center;
}

.scoreboardTitle {
    font-size: x-large;
    color: #FCFFFA;
    padding: 0px 15px;
}

.cardsTitle {
    color: #395e66;
    font-size: x-large;
    width: 10000px;
    height: 100px;
    max-width: 35%;
    background-color: orange;
    text-align: center;
    line-height: 100px;
    box-shadow: 5px 5px 15px 0px black;
    border: 1px solid #0CA4A5;
}

.cards {
    /* position: absolute; */
    width: 100%;
    /* height: 500px; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    position: absolute;
    -ms-flex-pack: justify;
    justify-content: space-around;
    flex-wrap: wrap;
    top: 580px;
    padding: 0px 10px;
}

.card {
    /*width: 60%;*/
    padding: 10px;
    background-color: #0CA4A5;
    box-shadow: 5px 5px 15px 0px black;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 10px;
    color: #FCFFFA;
    font-size: large;
    cursor: pointer;
}

.card:hover {
    background-color: orange;
    color: #395e66;
}

.gameroomsWrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.gamerooms {
    /* position: absolute; */
    width: 100%;
    /* height: 500px; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    position: absolute;
    -ms-flex-pack: justify;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    background-color: orange;
}

.gameroom {
    /*width: 60%;*/
    padding: 10px;
    background-color: orange;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 10px;
    color: #395e66;
    font-size: large;
    cursor: pointer;
    margin: 5px 0px;
}

.gameroom:hover {
    background-color: #395e66;
    color: orange;
}

.gameroomsTitle {
    position: absolute;
    left: 25px;
    top: -50px;
    height: 50px;
    background-color: #395e66;
    line-height: 25px;
    padding: 15px;
    color: orange;
    border-radius: 15px 15px 0px 0px;
    font-size: large;
}

.active {
    background-color: #395e66;
    color: orange;
}

.avatar {
    border-radius: 25%;
    margin-right: 10px;
}


